<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BF2Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <BF2Editor.Properties.Settings>
            <setting name="SettingsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedZip" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedMod" serializeAs="String">
                <value />
            </setting>
        </BF2Editor.Properties.Settings>
    </userSettings>
</configuration>
